body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.calculator-container {
    text-align: center;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    color: aqua;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

.calculator {
    text-align: center;
}

#display {
    width: 200px;
    margin-bottom: 10px;
    font-size: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    color: black;
}
